
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --max-sizing: 1200px;
}


.haha{
    background-color: yellow !important; 
}

.header{

    width: 100%;
    height: 300px;
    background-color: lightblue;
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.header__container{
    width: var(--max-sizing);
    border: 1px solid red;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.block{
    min-height: 100vh;
    background-color: red;
}

.block:nth-child(odd){
    background-color: blue;
}

.header__text{
    font-size: 3em;
    position: absolute;
    left: 50%;
    bottom: -2em;
    text-shadow: 0 0 1px black;
}